.Nav2
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.Nav2 a
{
    text-decoration: none;
    padding: 20px;
    margin: 15px;
    font-weight: 500;
    color: #0e0e66;
}


.Nav2 #Frame
{
   font-weight: 700;
}

.Navber #active 
{
    background-color: #6CB4EE;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: 700;
}

.Navber #others
{
    border: 1px solid rgb(35, 35, 35);
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: 700;
}

.Navber #others:hover
{
    background-color: #6CB4EE;
    border: 0.2px solid rgb(255, 255, 255);
}

#filterSpan
{
    font-weight: 700;
}

@media screen and (max-width: 992px)

{
    .Nav2
    {
        display: block;
        margin: 50px 0 0 0;
    }

    .Nav2 a
{
    display: block;
    padding: 20px;
    margin: 15px;
}

.Navber #active 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #6CB4EE;
    width: 15%;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: 700;
}

.Navber #others
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 38%;
    border: 1px solid rgb(35, 35, 35);
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-weight: 700;
}

.Navber #others:hover
{
    background-color: #6CB4EE;
    border: 0.2px solid rgb(255, 255, 255);
}

#Frame
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#FirstSpan
{
    display: flex;
}
#filterSpan
{
display: flex;
justify-content: center;
text-align: center;
}

#ALLSpan
{
    display: flex;
    justify-content: center;
    align-items: center;
}
}



